.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 20px; */
  /* background: #f9f9f9; */
  /* min-height: 100vh; */
}

h1 {
  /* color: #333; */
  margin-bottom: 15px;
  font-size: 24px;
}

.styled-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  min-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  /* text-align: left; */
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
  background-color: #ffffff;
  transition: background 0.3s ease;
  color: #333;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #e0f7f4;
}
